<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <script id="cart" type="text/x-handlebars-template">
            {{#each items}}
            <tr>
                <td class="name">{{name}}</td>
                <td class="price">{{price}}</td>
                <td>
                    <form class="remove d-inline" action="/cart" method="post">
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="hidden" name="action" value="remove">
                        <input type="submit"
                               class="negative-button btn btn-outline-secondary btn-sm px-3"
                               value="-"/>
                    </form>
                    <span class="quantity mx-2 d-inline">{{quantity}}</span>
                    <form class="add d-inline" action="/cart" method="post">
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="hidden" name="action" value="add">
                        <input type="submit" class="plus-button btn btn-dark btn-sm px-3"
                               value="+"/>
                    </form>
                </td>
            </tr>
            {{/each}}
            <tr>
                <td>Total:</td>
                <td colspan="2" id="total-price">{{amountToPay}}</td>
            </tr>
        </script>
    </body>
</html>